.navigation
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: #e2e2e2;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    padding: 2px;
}

#heading
{
    font-size: x-large;
    font-weight: bolder;
}