.navigation
{
    background-color: #e2e2e2;
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    padding: 2px;
    overflow: hidden;
}

#heading
{
    font-size: x-large;
    font-weight: bolder;
}
